.add-post-button {
  width: 10rem;
  height: 10rem;
  margin: 2rem 2rem 0 0;
  padding: 1rem;
  position: relative;
  text-align: center;
  display: inline-block;
  border: 5px solid rgba(244, 244, 244, 1);
  border-radius: 4px;
  cursor: pointer;
}

/*keep for when inline svg is implemented
.add-post-button:hover .add-post-icon {
  color: salmon;
}
*/

.add-post-icon {
  max-height: 100%;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}
